body{
	background-image: url('http://www.emoticonswallpapers.com/background/thumb/music/music-pattern-001.jpg');
	background-size: 100%;
	color: red;
}
.me{
	background-color: white;
	padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.aboutme{
	text-align: center;
	background-color: white;
	padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#aboutme{
	font-size: 20px;
	text-align: left;
}

a:link {
    color: white;
    text-decoration: none;
    background-color:black; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
}

a:visited {
    color: white;
    text-decoration: none;
    background-color: black;
}
a:hover {
    color: aqua;
    text-decoration: underline;
    background-color: red;
}
a:active {
    color: aqua;
    text-decoration: underline;
    background-color: red;
}
figcaption{
    display: inline-block;
}
.image{
display: inline-block;
text-align: center;
font-size: 15px;
font-style: italic;
}