#home { 
  background: url(http://www.hdwallpapers.in/walls/dream_village_hd-HD.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#about { 
  background: url(http://img1.gtsstatic.com/wallpapers/1fa2f4c1d6cba66182c5da8a548c6c36_large.jpeg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
#interests { 
  background: url(http://wallpaperhd.eu/wallpapers/tractor_in_field_village-1366x768.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1050px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#interests article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
.me{
	background-color: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.aboutme{
	text-align: center;
	background-color: white;
	padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#aboutme{
	font-size: 20px;
	text-align: left;
}
.music{
    display: inline-block;
    text-align: center;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#music{
    display: inline-block;
    font-size: 20px;
    text-align: left;
}

#carousel-example-generic{
    width: 400px;
    height: 200px;
}
#carousel-example{
    width: 400px;
    height: 200px;
}
@media screen and (max-width:959px){
    #container{
        width: 100%
    }
    #left-column{
        width: 70%
    }
    #right-column{
        width: 30%
    }
    img{
        width: 100%;
    }

}
@media screen and (max-width:640px){
    #left-column{
        width: 100%
    }
    #right-column{
        width: 100%
    }
    #carousel-example-generic{
        width: 100%;
    }
    #carousel-example{
        width: 100%;
    }
    img{
        width: 70%;
    }
    .nav{
        width: 100%;
    }
    audio{
        width: 100%;
    }
}
@media screen and (max-width:320px){
    #container{
        width: 320%
    }
}
#img{
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
}
#img1{
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
}
#cw{
    text-align: right;
    font-size: 20px;
}
body {
  background-color: #e3e3e3;;
  margin-left: auto;
  margin-right: auto;
}


.nav {
    padding-bottom: 20px;
    padding-top: 20px; 
    padding-right: 20px;
    padding-left: 20px;
}

.nav ul li {
  -webkit-box-shadow: 1px 2px 3px black;
  -moz-box-shadow: 1px 2px 3px black;
  -o-box-shadow: 1px 2px 3px black;
  box-shadow: 1px 2px 3px black;
}

.nav ul li {
  border-radius: 5px;
  background-image: -moz-linear-gradient(50% 0% -90deg,rgb(15,15,30) 0%,rgb(66,66,81) 100%);
  background-image: -moz-linear-gradient(50% 0% -90deg,rgb(15,15,30) 0%,rgb(66,66,81) 100%);
  background-image: -webkit-linear-gradient(-90deg,rgb(15,15,30) 0%,rgb(66,66,81) 100%);
  background-image: -o-linear-gradient(-90deg,rgb(15,15,30) 0%,rgb(66,66,81) 100%);
  background-image: linear-gradient(-90deg,rgb(15,15,30) 0%,rgb(66,66,81) 100%);
  list-style: none;
  padding: 20px;

}

.nav a {
  border-right: 1px solid #555555;
  color: #757584;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: -2px;
  padding: 20px;
}


.nav a:hover, .selected  {
  color: #e3e3e3;
  background-color: #0F0F1E;
}